@model List<WebShop.Domain.Entity.Product>

@{
    ViewData["Title"] = "GetProducts/";
}

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    .card-buttons-group {
        text-align: right;
        padding: 10px;
    }
</style>



<div style="padding: 10px;"></div>
@if (Model == null)
{
    <div class="card col-md-12">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=""
                     class="img-fluid rounded-start rounded">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center">Список товаров пуст :(</h5>
                </div>
            </div>
        </div>
    </div>
    
}
else
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="row row-cols-1 col-md-4 text-center">
                <div class="col" style="padding: 10px;">
                    <div class="card">
                        <img src="~/image/@product.Image" class="card-img-top" alt="@product.Name">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Стоимость: @product.Price ₽</li>
                            <li class="list-group-item">@product.Type</li>
                        </ul>
                        <div class="card-body">
                            <a asp-action="GetProduct" asp-route-id="@product.Id">Перейти</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <hr />
                                <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Удалить</a>
                                <a asp-controller="Product" asp-action="SaveProduct" asp-route-id="@product.Id" class="btn btn-primary">Изменить</a>
                            }
                            <a asp-controller="Order" asp-action="CreateOrder" asp-route-id="@product.Id" class="btn btn-success">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}


